<tr>
    <td>producto</td>
    <td>area</td>
    <td>recoleccion</td>
    <td>nomproducto</td>
    <td>nomcliente</td>
    <td>dircliente</td>
    <td>telefono</td>
    <td>fecha</td>
    <td>hora</td>
    <td>
        <a class="btn border-shadow estado">
            <span class="text-gradient"><i class="fas fa-ambulance"></i></span>
        </a>
    </td>
</tr>